.appContainer {
    text-align: center;  /* To center the title and header image */
    padding: 20px;
    background-color: #f9f9f9;  /* A light background color */
}

.appHeader {
    margin: 0 auto; /* Center the image */
    height: 331px;
    width: 331x;
}

.appTitle {
    color: white; 
    margin-top: 20px;
}
/* ... [Your previous styles remain unchanged] ... */

/* Day Mode styles */
.day-mode {
    background: linear-gradient(to bottom, #0099F7, #F3F4F6); /* Gradient resembling a clear blue sky */
}

/* Night Mode styles */
.night-mode {
    background-color: #212529;  /* Dark background for night mode */
    color: #f9f9f9;  /* Light text color for night mode */
}
